@import url('https://fonts.googleapis.com/css2?family=Prata&family=Sora:wght@300;400;500;600;700&display=swap');

:root{
    --purple_text: #883AE1;
    --purple_background: #E6D6FC;
    --line: #E5EAF0;
    --body_background: #FAFAF9;
    --card_background: #FFFFFF;
    --text_title: #20293A;    
    --text_body: #6C727F;
    --shadow: #efefee;

    --card_width: 368px;

    font-family: 'Sora', sans-serif;;
    color: var(--text_title);
}

body{
    background-color: var(--body_background);
    display: grid;
    place-content: center;
    min-height: 100svh;
}

.card{
    background-color: var(--card_background);
    padding: 16px;
    max-width: var(--card_width);
    border-radius: 16px;
    box-shadow: var(--shadow) 8px 8px 16px;
}

.card img{
    width: 100%;
    border-radius: 12px;
}

.tag{
    display: inline-block;
    background-color: var(--purple_background);
    color: var(--purple_text);
    font-weight: 600;
    padding: 4px 16px;
    border-radius: 16px;
    margin-block: 16px;
}

h1{
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 6px;
}

.text{
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--text_body);
    font-weight: 300;
    line-height: 1.6em;
}

hr{
    color: var(--line);
    margin-inline: -16px;
    margin-block: 0;
}

.author{
    color: var(--text_body);
    margin-block: 20px;
}